.progress-bar{
    margin: 12px;
    height: 12px;
    width: 75%;
    border-radius: 12px;
    background-color: #f1f1f1;
}

.fg-bar{
    background-color: #5cf1c2;
    width: 50%;
    height: 12px;
    overflow: hidden;
    border-radius: 12px;
}